@layout('base')

@section('content')
<h1>Updating Existing Book: {{book.title}}</h1>
<form method="POST">
    {{csrfField()}}
    @include('books.book_form')
    <input type="submit" value="Update" class="btn btn-primary mt-3"/>


</form>
@endsection


